.skills-section {
  background-color: #f7f7f7;
}

.skills-section h2 {
  font-size: 2.5rem;
  font-weight: 700;
  margin-bottom: 4rem;
}

.card {
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease-in-out;
  border-radius: 20px !important;
}

.card:hover {
  transform: scale(1.05);
}

.card-header {
  font-size: 20px;
  padding: 20px;
  font-weight: 800 !important;
  border-radius: 20px 20px 0 0 !important;
  text-align: center;
}

.card-header.bg-primary {
  background-color: #7c6a81 !important;
}

.card-header.bg-success {
  background-color: #60a0de !important;
}

.card-header.bg-secondary {
  background-color: #326262 !important;
}

.card ul {
  list-style: none;
  padding: 0;
  margin: 0;
  background-color: #f6fcfc !important;
}

.card ul li {
  font-size: 1.25rem;
  position: relative;
  padding-left: 1.5rem;
  margin-bottom: 1rem;
  background-color: #f6fcfc !important;
}

@media (max-width: 767px) {
  .skills-section h2 {
    font-size: 2rem;
    margin-bottom: 3rem;
  }
}
.skills-section h2 {
  font-size: 2.5rem;
  font-weight: 700;
}

.modalUl {
  list-style: none;
  padding: 0;
  margin: 0;
}

.modalLi {
  margin: 10px 0;
  font-size: 18px;
  line-height: 1.4;
  color: #333;
}

.modalLi:before {
  content: "●";
  font-size: 10px;
  margin-right: 10px;
  color: #326262;
}

.modal-content {
  background-color: #fff;
  margin: 10% auto;
  padding: 20px;
  border: none;
  border-radius: 10px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
  max-width: 500px;
}

.modal-header {
  background-color: #326262;
  color: #fff;
  padding: 15px;
  border-radius: 10px 10px 0 0;
  font-size: 24px;
  font-weight: bold;
}

.modal-body {
  font-size: 18px;
  color: #555;
  margin-bottom: 20px;
}

.modal-footer {
  background-color: #f4f4f4;
  padding: 10px;
  border-radius: 0 0 10px 10px;
}

.modal-footer button {
  background-color: #326262;
  color: #fff;
  border: none;
  padding: 10px;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.modal-footer button:hover {
  background-color: #fff;
  color: #326262;
}

.jobCardButton {
  background-color: #343a40;
  border-color: #343a40;
  color: white;
  border: none;
  font-size: 14px;
  padding: 10px 20px;
  border-radius: 20px;
  transition: background-color 0.2s;
  font-weight: 700 !important;
}
.jobCardButton:hover,
.jobCardButton:active,
.jobCardButton:focus {
  background-color: #343a40b9 !important;
  border-color: #343a40b9 !important;
  outline: none !important;
  box-shadow: none !important;
}

.jobCardButton:hover {
  background-color: #343a40;
}
